<nav class="nav-bar">
	<div class="container-logo">
		<img class="logo" src="assets/images/logo.png" alt="logo-nav" >
	</div>
	
	<ul class="menu">
	  <li class="item"><a routerLink="/inicio">Pedir Credito</a></li>
	  <li class="item"><a routerLink="/list">Listar Creditos</a></li>
	  <li class="item"><a >ayuda</a></li>
	</ul>
	<div class="login">
		<i >iniciar</i>
	</div>

	<div class="titulo">
		<i class="text-titulo">Solicita tu Credito</i>
		<div class="raya"></div>
		<a class="menu2" routerLink="/inicio">soli  </a><a class="menu2" routerLink="/list"> list</a>
	</div>

	
	
  </nav>